* {

}

vaadin-item[selected] {
    background-color: rgba(173, 215, 255, 0.25);
}

.quiz-photo {
    width: 100%;
    object-fit: contain;
    object-position: center center;
    border: 5px solid black;
}

.quiz-carousel {
    width: 100%;
}

.question-text {
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    white-space: pre-line;
    width: 100%;
}

.answer-description {
    text-align: center;
    border: 1px solid var(--lumo-primary-color);
    white-space: pre-line;
    width: 100%;
    display: block;
    word-break: break-word;
    padding: var(--lumo-space-s);
    border-radius: var(--lumo-border-radius-m);
}

/*Less than 700*/
@media (max-width: 700px) {

    .navbar-drawer-toggle {
        display: block;
    }

    .navbar-tabs {
        display: none;
    }

    .navbar-drawer-tabs {
        display: block;
    }
}

@media (min-width: 700px) {

    .navbar-drawer-toggle {
        display: none;
    }

    .navbar-tabs {
        display: block;
    }

    .navbar-drawer-tabs {
        display: none;
    }
}