<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %d{HH:mm:ss.SSS} %highlight(%-5level): %message%exception{20}%n</pattern>
        </encoder>
    </appender>

    <logger name="org.rsinitsyn.quiz" level="DEBUG"/>
    <logger name="io.opentelemetry.exporter.zipkin" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>